/*
Plugin Name: Birding Trail Management
Description: A plugin to support the birdingtrail theme 
Author: Scott Anderson
Author URI: http://ncbirdingtrail.org/
Version: 0.1

License: Attribution-ShareAlike 3.0 Unported (CC BY-SA 3.0)
License URI: http://creativecommons.org/licenses/by-sa/3.0/


*/


/*
* TRAIL SITES PAGE
*/

.site-list-item {
	color:#aaaaaa;
	border-color:#333333;
	border-width:0.5rem;
	
}